# 군집분석
| 각 개체의 유사성을 측정하여 유사성이 높은 대상집단을 분류하는 통계적 기법 | 종속 변수가 필요하지 않기 때문에 비지도학습으로 분류


💡군집분석: 객체 간의 상이성을 규명하고 **군집의 특징을 파악**하는 것이 목적

💡요인분석: 데이터의 유사한 변수를 묶어 다중공선서을 줄이는 것이 목적

## 계층적 군집분석
| n개의 군집으로 시작해 점차 군집의 개수를 **줄여나가는** 방법

* 거리 계산법

    1. 최단 연결법: 가장 가까운 데이터를 묶어서 군집을 형성
    2. 최장 연결법: 집단 간 데이터의 최장거리를 거리로 계산
    3. 평균 연결법: 모든 데이터의 거리의 평균을 거리로 계산
    4. 중심 연결법: 군집의 중심값 간 거리를 계산
    5. 와드 연결법: 군집 내 편차들의 제곱합을 계산

<img src='./imgs/계층군집_연결법.png' width=600px height=230></img>

* Python에서는

    ```from scipy.cluster.hierarchy```의 ```linkage``` 함수를 사용하여 군집을 할당하고

    ```dendrogram``` 함수로 이를 시각화하고 군집의 개수를 설정한다.

```linkage(y, method='single', metric='euclidian)```

* y(ndarray)
* method: 거리연결법
    
    single(최단), complete(최장), average(평균), centroid(중심), ward(와드)
* metric: 거리계산법

    euclidean(유클리디안), seuclidean(표준화), mahalanobis(마할라노비스), chebyshev(체비셰프)
    
    cityblock(맨해튼), canberra(캔버라), minkowski(민코우스키), jaccard(자카드), cosine(코사인 유사도)

❗️거리계산법 설명 추가하기❗️

### 계층적 군집분석 실습 - USArrests 데이터
    
* Murder: 살인 체포
* Assault: 폭행
* UrbanPop: 인구 비율
* Rape: 강간

    100,000명당

In [1]:
import pandas as pd 
import numpy as np
from scipy.cluster.hierarchy import linkage, dendrogram # 군집 할당, 시각화
import matplotlib.pyplot as plt

In [2]:
us = pd.read_csv('https://raw.githubusercontent.com/ADPclass/ADP_book_ver01/main/data/USArrests.csv')
us.rename(columns={'Unnamed: 0':'State'}, inplace=True)
us.head()

        State  Murder  Assault  UrbanPop  Rape
0     Alabama    13.2      236        58  21.2
1      Alaska    10.0      263        48  44.5
2     Arizona     8.1      294        80  31.0
3    Arkansas     8.8      190        50  19.5
4  California     9.0      276        91  40.6